<robot xmlns:ns0="http://ros.org/wiki/xacro" name="turtlebot3_waffle_pi">
  

  <ns0:arg name="namespace" default="" />
  <ns0:property name="namespace" value="$(arg namespace)" />

  
  <material name="black">
      <color rgba="0.0 0.0 0.0 1.0" />
  </material>

  <material name="dark">
    <color rgba="0.3 0.3 0.3 1.0" />
  </material>

  <material name="light_black">
    <color rgba="0.4 0.4 0.4 1.0" />
  </material>

  <material name="blue">
    <color rgba="0.0 0.0 0.8 1.0" />
  </material>

  <material name="green">
    <color rgba="0.0 0.8 0.0 1.0" />
  </material>

  <material name="grey">
    <color rgba="0.5 0.5 0.5 1.0" />
  </material>

  <material name="orange">
    <color rgba="1.0 0.4235 0.0392 1.0" />
  </material>

  <material name="brown">
    <color rgba="0.8706 0.8118 0.7647 1.0" />
  </material>

  <material name="red">
    <color rgba="0.8 0.0 0.0 1.0" />
  </material>

  <material name="white">
    <color rgba="1.0 1.0 1.0 1.0" />
  </material>

  <link name="${namespace}base_footprint" />

  <joint name="${namespace}base_joint" type="fixed">
    <parent link="${namespace}base_footprint" />
    <child link="${namespace}base_link" />
    <origin xyz="0.000000 0.000000 0.060000" rpy="0 0 0" />
  </joint>

  <link name="${namespace}base_link">
    <visual>
      <origin xyz="-0.384000 0.000000 0.000000" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://turtlebot3_description/meshes/bases/waffle_pi_base.stl" scale="0.006000 0.006000 0.006000" />
      </geometry>
      <material name="light_black" />
    </visual>

    <collision>
      <origin xyz="-0.384000 0.000000 0.282000" rpy="0 0 0" />
      <geometry>
        <box size="1.596000 1.596000 0.564000" />
      </geometry>
    </collision>

    <inertial>
      <origin xyz="0.000000 0.000000 0.000000" rpy="0 0 0" />
      <mass value="1.3729096e+00" />
      <inertia ixx="8.7002718e-03" ixy="-4.7576583e-05" ixz="1.1160499e-04" iyy="8.6195418e-03" iyz="-3.5422299e-06" izz="1.4612727e-02" />
    </inertial>
  </link>

  <joint name="${namespace}wheel_left_joint" type="continuous">
    <parent link="${namespace}base_link" />
    <child link="${namespace}wheel_left_link" />
    <origin xyz="0.000000 0.864000 0.138000" rpy="-1.57 0 0" />
    <axis xyz="0 0 1" />
  </joint>

  <link name="${namespace}wheel_left_link">
    <visual>
      <origin xyz="0.000000 0.000000 0.000000" rpy="1.57 0 0" />
      <geometry>
        <mesh filename="package://turtlebot3_description/meshes/wheels/left_tire.stl" scale="0.006000 0.006000 0.006000" />
      </geometry>
      <material name="dark" />
    </visual>

    <collision>
      <origin xyz="0.000000 0.000000 0.000000" rpy="0 0 0" />
      <geometry>
        <cylinder length="0.108000" radius="0.198000" />
      </geometry>
    </collision>

    <inertial>
      <origin xyz="0.000000 0.000000 0.000000" />
      <mass value="2.8498940e-02" />
      <inertia ixx="1.1175580e-05" ixy="-4.2369783e-11" ixz="-5.9381719e-09" iyy="1.1192413e-05" iyz="-1.4400107e-11" izz="2.0712558e-05" />
      </inertial>
  </link>

  <joint name="${namespace}wheel_right_joint" type="continuous">
    <parent link="${namespace}base_link" />
    <child link="${namespace}wheel_right_link" />
    <origin xyz="0.000000 -0.864000 0.138000" rpy="-1.57 0 0" />
    <axis xyz="0 0 1" />
  </joint>

  <link name="${namespace}wheel_right_link">
    <visual>
      <origin xyz="0.000000 0.000000 0.000000" rpy="1.57 0 0" />
      <geometry>
        <mesh filename="package://turtlebot3_description/meshes/wheels/right_tire.stl" scale="0.006000 0.006000 0.006000" />
      </geometry>
      <material name="dark" />
    </visual>

    <collision>
      <origin xyz="0.000000 0.000000 0.000000" rpy="0 0 0" />
      <geometry>
        <cylinder length="0.108000" radius="0.198000" />
      </geometry>
    </collision>

    <inertial>
      <origin xyz="0.000000 0.000000 0.000000" />
      <mass value="2.8498940e-02" />
      <inertia ixx="1.1175580e-05" ixy="-4.2369783e-11" ixz="-5.9381719e-09" iyy="1.1192413e-05" iyz="-1.4400107e-11" izz="2.0712558e-05" />
      </inertial>
  </link>

  <joint name="${namespace}caster_back_right_joint" type="fixed">
    <parent link="${namespace}base_link" />
    <child link="${namespace}caster_back_right_link" />
    <origin xyz="-1.062000 -0.384000 -0.024000" rpy="-1.57 0 0" />
  </joint>

  <link name="${namespace}caster_back_right_link">
    <collision>
      <origin xyz="0.000000 0.006000 0.000000" rpy="0 0 0" />
      <geometry>
        <box size="0.180000 0.054000 0.120000" />
      </geometry>
    </collision>

    <inertial>
      <origin xyz="0.000000 0.000000 0.000000" />
      <mass value="0.005" />
      <inertia ixx="0.001" ixy="0.0" ixz="0.0" iyy="0.001" iyz="0.0" izz="0.001" />
    </inertial>
  </link>

  <joint name="${namespace}caster_back_left_joint" type="fixed">
    <parent link="${namespace}base_link" />
    <child link="${namespace}caster_back_left_link" />
    <origin xyz="-1.062000 0.384000 -0.024000" rpy="-1.57 0 0" />
  </joint>

  <link name="${namespace}caster_back_left_link">
    <collision>
      <origin xyz="0.000000 0.006000 0.000000" rpy="0 0 0" />
      <geometry>
        <box size="0.180000 0.054000 0.120000" />
      </geometry>
    </collision>

    <inertial>
      <origin xyz="0.000000 0.000000 0.000000" />
      <mass value="0.005" />
      <inertia ixx="0.001" ixy="0.0" ixz="0.0" iyy="0.001" iyz="0.0" izz="0.001" />
    </inertial>
  </link>

  <joint name="${namespace}imu_joint" type="fixed">
    <parent link="${namespace}base_link" />
    <child link="${namespace}imu_link" />
    <origin xyz="0.000000 0.000000 0.408000" rpy="0 0 0" />
  </joint>

  <link name="${namespace}imu_link" />

  <joint name="${namespace}scan_joint" type="fixed">
    <parent link="${namespace}base_link" />
    <child link="${namespace}base_scan" />
    <origin xyz="-0.384000 0.000000 0.732000" rpy="0 0 0" />
  </joint>

  <link name="${namespace}base_scan">
    <visual>
      <origin xyz="0.000000 0.000000 0.000000" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://turtlebot3_description/meshes/sensors/lds.stl" scale="0.006000 0.006000 0.006000" />
      </geometry>
      <material name="dark" />
    </visual>

    <collision>
      <origin xyz="0.090000 0.000000 -0.039000" rpy="0 0 0" />
      <geometry>
        <cylinder length="0.189000" radius="0.330000" />
      </geometry>
    </collision>

    <inertial>
      <mass value="0.114" />
      <origin xyz="0.000000 0.000000 0.000000" />
      <inertia ixx="0.001" ixy="0.0" ixz="0.0" iyy="0.001" iyz="0.0" izz="0.001" />
    </inertial>
  </link>

  <joint name="${namespace}camera_joint" type="fixed">
    <origin xyz="0.438000 -0.066000 0.504000" rpy="0 0 0" />
    <parent link="${namespace}base_link" />
    <child link="${namespace}camera_link" />
  </joint>

  <link name="${namespace}camera_link">
    <collision>
      <origin xyz="0.030000 0.066000 0.078000" rpy="0 0 0" />
      <geometry>
        <box size="0.090000 0.180000 0.162000" />
      </geometry>
    </collision>
  </link>

  <joint name="${namespace}camera_rgb_joint" type="fixed">
    <origin xyz="0.018000 0.066000 0.054000" rpy="0 0 0" />
    <parent link="${namespace}camera_link" />
    <child link="${namespace}camera_rgb_frame" />
  </joint>
  <link name="${namespace}camera_rgb_frame" />

  <joint name="${namespace}camera_rgb_optical_joint" type="fixed">
    <origin xyz="0.000000 0.000000 0.000000" rpy="-1.57 0 -1.57" />
    <parent link="${namespace}camera_rgb_frame" />
    <child link="${namespace}camera_rgb_optical_frame" />
  </joint>
  <link name="${namespace}camera_rgb_optical_frame" />

</robot>